@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto+Condensed');

#article {
	height: 330px;
	width: 250px;
	background-color: #FF6D3A;
	border-radius: 15px;
	position: absolute;
	top: 55px;
}

p {
	font-family: 'Roboto Condensed', sans-serif;
	color: white;
	font-size: 12px;
}

#nav {
	width: 100%;
}

div > img {
	border-radius: 100px;
	padding-left: 25px;
	padding-top: 25px;
}

body {
	background-color: #E0FFE7;
}

div > .nav {
	background-color: #90FFE7;
	opacity: 0.8;
}

div > p {
	margin-left: 15px;
	margin-right: 15px;
}

.nav {
	position: fixed;
	list-style: none;
	text-align: center;
	top: 0;
	right: 0;
	left: 0;
	z-index: 9999;
	display: block;
	width: 100%;
	height: 48px;
}

.nav ul li {
	display: inline;
	list-style-type: none;
}

.nav a {
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	color: #00B28C;
	display: block;
	float: left;
	text-align: center;
	width: 20%;
}

.nav a:hover {
	color: #FF6D3A;
}

.nav a:active {
	color: white;
}

a.selected {
	color: #FF6D3A;
}


.photos {
	margin: 20px 0;
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-template-rows: 150px 150px;
	grid-gap: 5px;
}

.photos > div {
	background-color: #eee;
	background-repeat: no-repeat;
	background-size: cover;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 319px) (max-width : 1823px){

}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
}
