@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans|East+Sea+Dokdo|Gugi|Permanent+Marker|Righteous|Shrikhand|Source+Sans+Pro');

/* raw global styles */

h1 {
	margin: 30px;
	text-align: center;
	font-family: 'Permanent Marker', cursive;
	font-size: 3em;
}

h2 {
	margin: 30px;
	text-align: center;
	font-family: 'East Sea Dokdo', sans-serif;
	font-size: 2em;
}

p {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1em;
}

/* article */

.article {
	margin: 50px;
	line-height: 25px;
}

/* global classes */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.size {
	width: 900px;
}

.big {
	font-size: 2em;
}

/* Desktops and laptops ----------- */
@media screen and (max-width: 920px) {

  body {
		background-color: red;
	}

	.size {
		width: 90%;
	}

}

@media screen and (max-width: 450px) {

	body {
		background-color: black;
	}

	.size {
		width: 100%;
	}



}
